html, body {
    min-height: 100%;
}
body {
    
}

:root {
    --primary-color: rgb(0, 0, 0);
    --hover-color: lightgray;
    --alt-text-color: white;
}
#header {
    background-color: var(--primary-color);
    position: fixed;
    left: 0%;
    top: 0%;
    height: 12.5%; /* 12.5 */
    width: 100%;/* 100 */
}
#page {
    position: sticky;
    left: 35%;
    width: 75%;
}
#toggle-wrapper {
    position: fixed;
    height: 12.5%;
    left: 0%;
    top: 0%;
}
#toggle {
    position: relative;
    left: 27.5%;
    top: 20.5%;
    width: 80%;
    height: 35%;
}
#toggle-wrapper:hover {
    background-color: black;
    cursor: pointer;
}
#name {
    position: fixed;
    left: 5%;
    top: -1.5%;
}
#menu {
    background-color: var(--primary-color);
    color: var(--alt-text-color);
    text-align: center;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 25%;
    height: 100%;
    overflow-y:auto;
}
.menuBtns {
    background-color: transparent;
    color: var(--alt-text-color);
    font-size: 100%;
    position: relative;
    left: 0%;
    width: 100%;
    height: auto;
    border: 0px;
}
.menuBtns:hover {
    background-color: var(--hover-color);
    color: black;
    cursor: pointer;
}
#filler {
    position: relative;
    font-size: larger;
    top: 15%;
}
#collapse {
    position: relative;
    top: 0%;
    background-color: rgb(189, 5, 5);
    color: black;
    cursor: pointer;
    left: 0%;
    width: 100%;
    height: auto;
    border: 0px;
    top: 12.5%;

}
#collapse:hover {
    background-color: rgb(169, 5, 5);
}

/* .container is used to format the container in the html file*/
.container{
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
/*iframe is used to format the map item*/
iframe{
    width: 101%;
    height: 495px;
}

