1.      Create Login Screen
-        Log in or Create an account.
-              - are you a driver or user?
-                    -username (email)
-                     - password
 
2.      Create a profile
-        Year, make, model, color, (license plate for driver), photo for driver
 
 To do list
 - find a web hosting server.
 
Extras
Hash Passwords
